<header>
    <div class="icon-style">Ricessence</div>
    <div class="header-content">
      <nav>
        <a routerLink="/products" class="nav-link">SHOP</a>
        <a routerLink="/Category" class="nav-link">CATEGORY</a>
        <a routerLink="/cart" class="nav-link">CART</a>
        <a routerLink="/wishlist" class="nav-link">WISHLIST</a>
        <a routerLink="/checkout" class="nav-link">CHECKOUT</a>
      </nav>
    </div>
    <form class="search-form" action="/search" method="get">
      <input
        type="text"
        placeholder="Search products..."
        name="query"
        class="search-input"
      />
      <button type="submit" class="search-button">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </header>
  