<app-header></app-header>
<div class="cart">
  <h1>Your Cart</h1>
  <div class="cart-item" *ngFor="let item of cartItems">
    <img [src]="item.product.image" alt="{{ item.product.name }}" />
    <p>{{ item.product.name }}</p>
    <p>{{ item.quantity }}</p>
    <!-- <p>{{ item.product.price * item.quantity | currency }}</p> -->
    <button (click)="removeFromCart(item.product.id)">Remove</button>
  </div>
  <button routerLink="/checkout">Proceed to Checkout</button>
</div>
<app-footer></app-footer>
