<header>
  <p class="icon-style">Ricessence</p>
  <nav>
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/products" class="nav-link">Shop</a>
      <a routerLink="/cart" class="nav-link">Cart</a>
      <a routerLink="/wishlist" class="nav-link">Wishlist</a>
      <a routerLink="/checkout" class="nav-link">Checkout</a>
  </nav>
  <form class="search-form" action="/search" method="get">
      <input type="text" placeholder="Search products..." name="query" class="search-input">
      <button type="submit" class="search-button">
        <mat-icon>search</mat-icon>
      </button>
  </form>
</header>
<p class="header-message">Header works!</p>
