/* header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #7aaaaf;
  padding: 5px;
} */

/* ^^^ annoying green header*/

.icon-style {
  color: #f4f4f6;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content:center;
  gap: 40px;
  padding-right: 2%;
  flex-grow: 1; 
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 8px 30px;
  border-radius: 8px;
  transition: background-color 0.1s ease, color 0.1s ease;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #7aaaaf;
  color: #fff;
}

/* Active link styling */
/* .nav-link[routerLinkActive="active"] {
  background-color: #3a46e8;
  font-weight: bold;
} */
